/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.llmpulse.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.llmpulse.sdk.models.AnswerDetails
import ai.llmpulse.sdk.models.ApiError

import com.squareup.moshi.Json

import ai.llmpulse.sdk.infrastructure.ApiClient
import ai.llmpulse.sdk.infrastructure.ApiResponse
import ai.llmpulse.sdk.infrastructure.ClientException
import ai.llmpulse.sdk.infrastructure.ClientError
import ai.llmpulse.sdk.infrastructure.ServerException
import ai.llmpulse.sdk.infrastructure.ServerError
import ai.llmpulse.sdk.infrastructure.MultiValueMap
import ai.llmpulse.sdk.infrastructure.PartConfig
import ai.llmpulse.sdk.infrastructure.RequestConfig
import ai.llmpulse.sdk.infrastructure.RequestMethod
import ai.llmpulse.sdk.infrastructure.ResponseType
import ai.llmpulse.sdk.infrastructure.Success
import ai.llmpulse.sdk.infrastructure.toMultiValue

open class AnswersApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.llmpulse.ai/api/v1")
        }
    }

    /**
     * GET /answers/{id}
     * Get one AI response
     * Full answer with mentions, citations, sentiments, sources, shopping_products, brand_entities, fan_out_queries. Pass &#x60;include_source_page_details&#x3D;true&#x60; to nest page-cache metadata under each source.
     * @param id 
     * @param projectId Project ID
     * @param includeSourcePageDetails  (optional, default to false)
     * @return AnswerDetails
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAnswer(id: kotlin.Int, projectId: kotlin.Int, includeSourcePageDetails: kotlin.Boolean? = false) : AnswerDetails {
        val localVarResponse = getAnswerWithHttpInfo(id = id, projectId = projectId, includeSourcePageDetails = includeSourcePageDetails)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnswerDetails
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /answers/{id}
     * Get one AI response
     * Full answer with mentions, citations, sentiments, sources, shopping_products, brand_entities, fan_out_queries. Pass &#x60;include_source_page_details&#x3D;true&#x60; to nest page-cache metadata under each source.
     * @param id 
     * @param projectId Project ID
     * @param includeSourcePageDetails  (optional, default to false)
     * @return ApiResponse<AnswerDetails?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAnswerWithHttpInfo(id: kotlin.Int, projectId: kotlin.Int, includeSourcePageDetails: kotlin.Boolean?) : ApiResponse<AnswerDetails?> {
        val localVariableConfig = getAnswerRequestConfig(id = id, projectId = projectId, includeSourcePageDetails = includeSourcePageDetails)

        return request<Unit, AnswerDetails>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAnswer
     *
     * @param id 
     * @param projectId Project ID
     * @param includeSourcePageDetails  (optional, default to false)
     * @return RequestConfig
     */
    fun getAnswerRequestConfig(id: kotlin.Int, projectId: kotlin.Int, includeSourcePageDetails: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (includeSourcePageDetails != null) {
                    put("include_source_page_details", listOf(includeSourcePageDetails.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/answers/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter model
     */
     enum class ModelListAnswers(val value: kotlin.String) {
         @Json(name = "chatgpt") chatgpt("chatgpt"),
         @Json(name = "perplexity") perplexity("perplexity"),
         @Json(name = "gemini") gemini("gemini"),
         @Json(name = "ai_overview") ai_overview("ai_overview"),
         @Json(name = "ai_mode") ai_mode("ai_mode"),
         @Json(name = "copilot") copilot("copilot"),
         @Json(name = "claude") claude("claude"),
         @Json(name = "grok") grok("grok"),
         @Json(name = "deepseek") deepseek("deepseek"),
         @Json(name = "meta_ai") meta_ai("meta_ai"),
         @Json(name = "amazon_rufus") amazon_rufus("amazon_rufus"),
         @Json(name = "naver_ai") naver_ai("naver_ai"),
         @Json(name = "baidu_ai") baidu_ai("baidu_ai");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter mentionFilter
     */
     enum class MentionFilterListAnswers(val value: kotlin.String) {
         @Json(name = "mentions_you") mentions_you("mentions_you"),
         @Json(name = "not_mentions_you") not_mentions_you("not_mentions_you"),
         @Json(name = "mentions_competitor") mentions_competitor("mentions_competitor"),
         @Json(name = "not_mentions_competitor") not_mentions_competitor("not_mentions_competitor"),
         @Json(name = "you_and_competitor") you_and_competitor("you_and_competitor"),
         @Json(name = "competitor_not_you") competitor_not_you("competitor_not_you"),
         @Json(name = "you_not_competitor") you_not_competitor("you_not_competitor"),
         @Json(name = "no_brands") no_brands("no_brands");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter citationFilter
     */
     enum class CitationFilterListAnswers(val value: kotlin.String) {
         @Json(name = "cites_you") cites_you("cites_you"),
         @Json(name = "not_cites_you") not_cites_you("not_cites_you"),
         @Json(name = "cites_competitor") cites_competitor("cites_competitor"),
         @Json(name = "not_cites_competitor") not_cites_competitor("not_cites_competitor"),
         @Json(name = "you_and_competitor") you_and_competitor("you_and_competitor"),
         @Json(name = "competitor_not_you") competitor_not_you("competitor_not_you"),
         @Json(name = "you_not_competitor") you_not_competitor("you_not_competitor"),
         @Json(name = "cites_no_brands") cites_no_brands("cites_no_brands");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /answers
     * List AI responses
     * Successful prompt-execution responses with truncated content (max 10,000 chars). Pass &#x60;query&#x60; for case-insensitive full-text search inside response texts: &#x60;total&#x60; becomes the exact count of matching responses and each item returns &#x60;snippet&#x60; + &#x60;match_count&#x60; instead of &#x60;response&#x60;/&#x60;response_truncated&#x60;.
     * @param projectId Project ID
     * @param model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped. (optional)
     * @param collectionId One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize. (optional)
     * @param countryCode One ISO country code or a comma-separated list (e.g. US,GB,DE) (optional)
     * @param languageCode One ISO language code or a comma-separated list (e.g. en,es,de) (optional)
     * @param prompt Filter by prompt ID (optional)
     * @param mentionFilter Filter by which brands are mentioned, as a two-axis matrix (your brand x competitors): mentions_you / not_mentions_you, mentions_competitor / not_mentions_competitor, and the four combined cells you_and_competitor, competitor_not_you (a rival wins and you are absent), you_not_competitor, no_brands (no tracked brand appears, i.e. open space). Combine with &#39;competitors&#39; to narrow the competitor side to specific rivals; on a negative cell that reads &#39;none of these&#39;. On /dimensions/sources it applies to the crawled content of each cited page instead of the answer text. The legacy value &#39;competitors_only&#39; is still accepted as an alias of competitor_not_you. (optional)
     * @param citationFilter Same two-axis matrix applied to the domains cited in the answer instead of the brands named in it. Independent of mention_filter; pass both to intersect them (e.g. mentions_you + not_cites_you finds answers that talk about you without linking to you). (optional)
     * @param competitors Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM) (optional)
     * @param from  (optional)
     * @param to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier. (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param query Case-insensitive full-text search inside AI response texts. Switches items to snippet + match_count mode. (optional)
     * @param noResult Filter sentinel non-answers (provider returned nothing after retries; excluded from platform metrics). false &#x3D; only real answers, true &#x3D; only sentinels, omit &#x3D; both. Every item carries its own no_result flag. (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listAnswers(projectId: kotlin.Int, model: ModelListAnswers? = null, collectionId: kotlin.String? = null, countryCode: kotlin.String? = null, languageCode: kotlin.String? = null, prompt: kotlin.Int? = null, mentionFilter: MentionFilterListAnswers? = null, citationFilter: CitationFilterListAnswers? = null, competitors: kotlin.String? = null, from: java.time.OffsetDateTime? = null, to: java.time.OffsetDateTime? = null, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20, query: kotlin.String? = null, noResult: kotlin.Boolean? = null) : Unit {
        val localVarResponse = listAnswersWithHttpInfo(projectId = projectId, model = model, collectionId = collectionId, countryCode = countryCode, languageCode = languageCode, prompt = prompt, mentionFilter = mentionFilter, citationFilter = citationFilter, competitors = competitors, from = from, to = to, page = page, perPage = perPage, query = query, noResult = noResult)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /answers
     * List AI responses
     * Successful prompt-execution responses with truncated content (max 10,000 chars). Pass &#x60;query&#x60; for case-insensitive full-text search inside response texts: &#x60;total&#x60; becomes the exact count of matching responses and each item returns &#x60;snippet&#x60; + &#x60;match_count&#x60; instead of &#x60;response&#x60;/&#x60;response_truncated&#x60;.
     * @param projectId Project ID
     * @param model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped. (optional)
     * @param collectionId One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize. (optional)
     * @param countryCode One ISO country code or a comma-separated list (e.g. US,GB,DE) (optional)
     * @param languageCode One ISO language code or a comma-separated list (e.g. en,es,de) (optional)
     * @param prompt Filter by prompt ID (optional)
     * @param mentionFilter Filter by which brands are mentioned, as a two-axis matrix (your brand x competitors): mentions_you / not_mentions_you, mentions_competitor / not_mentions_competitor, and the four combined cells you_and_competitor, competitor_not_you (a rival wins and you are absent), you_not_competitor, no_brands (no tracked brand appears, i.e. open space). Combine with &#39;competitors&#39; to narrow the competitor side to specific rivals; on a negative cell that reads &#39;none of these&#39;. On /dimensions/sources it applies to the crawled content of each cited page instead of the answer text. The legacy value &#39;competitors_only&#39; is still accepted as an alias of competitor_not_you. (optional)
     * @param citationFilter Same two-axis matrix applied to the domains cited in the answer instead of the brands named in it. Independent of mention_filter; pass both to intersect them (e.g. mentions_you + not_cites_you finds answers that talk about you without linking to you). (optional)
     * @param competitors Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM) (optional)
     * @param from  (optional)
     * @param to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier. (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param query Case-insensitive full-text search inside AI response texts. Switches items to snippet + match_count mode. (optional)
     * @param noResult Filter sentinel non-answers (provider returned nothing after retries; excluded from platform metrics). false &#x3D; only real answers, true &#x3D; only sentinels, omit &#x3D; both. Every item carries its own no_result flag. (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun listAnswersWithHttpInfo(projectId: kotlin.Int, model: ModelListAnswers?, collectionId: kotlin.String?, countryCode: kotlin.String?, languageCode: kotlin.String?, prompt: kotlin.Int?, mentionFilter: MentionFilterListAnswers?, citationFilter: CitationFilterListAnswers?, competitors: kotlin.String?, from: java.time.OffsetDateTime?, to: java.time.OffsetDateTime?, page: kotlin.Int?, perPage: kotlin.Int?, query: kotlin.String?, noResult: kotlin.Boolean?) : ApiResponse<Unit?> {
        val localVariableConfig = listAnswersRequestConfig(projectId = projectId, model = model, collectionId = collectionId, countryCode = countryCode, languageCode = languageCode, prompt = prompt, mentionFilter = mentionFilter, citationFilter = citationFilter, competitors = competitors, from = from, to = to, page = page, perPage = perPage, query = query, noResult = noResult)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listAnswers
     *
     * @param projectId Project ID
     * @param model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped. (optional)
     * @param collectionId One collection/tag ID or a comma-separated list of IDs. A query value is always a string on the wire, so it is typed as one: the previous integer-or-string union made generators emit a wrapper type they could not serialize. (optional)
     * @param countryCode One ISO country code or a comma-separated list (e.g. US,GB,DE) (optional)
     * @param languageCode One ISO language code or a comma-separated list (e.g. en,es,de) (optional)
     * @param prompt Filter by prompt ID (optional)
     * @param mentionFilter Filter by which brands are mentioned, as a two-axis matrix (your brand x competitors): mentions_you / not_mentions_you, mentions_competitor / not_mentions_competitor, and the four combined cells you_and_competitor, competitor_not_you (a rival wins and you are absent), you_not_competitor, no_brands (no tracked brand appears, i.e. open space). Combine with &#39;competitors&#39; to narrow the competitor side to specific rivals; on a negative cell that reads &#39;none of these&#39;. On /dimensions/sources it applies to the crawled content of each cited page instead of the answer text. The legacy value &#39;competitors_only&#39; is still accepted as an alias of competitor_not_you. (optional)
     * @param citationFilter Same two-axis matrix applied to the domains cited in the answer instead of the brands named in it. Independent of mention_filter; pass both to intersect them (e.g. mentions_you + not_cites_you finds answers that talk about you without linking to you). (optional)
     * @param competitors Comma-separated competitor IDs (unknown IDs return ERR_INVALID_PARAM) (optional)
     * @param from  (optional)
     * @param to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier. (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param query Case-insensitive full-text search inside AI response texts. Switches items to snippet + match_count mode. (optional)
     * @param noResult Filter sentinel non-answers (provider returned nothing after retries; excluded from platform metrics). false &#x3D; only real answers, true &#x3D; only sentinels, omit &#x3D; both. Every item carries its own no_result flag. (optional)
     * @return RequestConfig
     */
    fun listAnswersRequestConfig(projectId: kotlin.Int, model: ModelListAnswers?, collectionId: kotlin.String?, countryCode: kotlin.String?, languageCode: kotlin.String?, prompt: kotlin.Int?, mentionFilter: MentionFilterListAnswers?, citationFilter: CitationFilterListAnswers?, competitors: kotlin.String?, from: java.time.OffsetDateTime?, to: java.time.OffsetDateTime?, page: kotlin.Int?, perPage: kotlin.Int?, query: kotlin.String?, noResult: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (model != null) {
                    put("model", listOf(model.value))
                }
                if (collectionId != null) {
                    put("collection_id", listOf(collectionId.toString()))
                }
                if (countryCode != null) {
                    put("country_code", listOf(countryCode.toString()))
                }
                if (languageCode != null) {
                    put("language_code", listOf(languageCode.toString()))
                }
                if (prompt != null) {
                    put("prompt", listOf(prompt.toString()))
                }
                if (mentionFilter != null) {
                    put("mention_filter", listOf(mentionFilter.value))
                }
                if (citationFilter != null) {
                    put("citation_filter", listOf(citationFilter.value))
                }
                if (competitors != null) {
                    put("competitors", listOf(competitors.toString()))
                }
                if (from != null) {
                    put("from", listOf(parseDateToQueryString<java.time.OffsetDateTime>(from)))
                }
                if (to != null) {
                    put("to", listOf(parseDateToQueryString<java.time.OffsetDateTime>(to)))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (query != null) {
                    put("query", listOf(query.toString()))
                }
                if (noResult != null) {
                    put("no_result", listOf(noResult.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/answers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
