/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.llmpulse.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.llmpulse.sdk.models.ApiError
import ai.llmpulse.sdk.models.GeoAlertList
import ai.llmpulse.sdk.models.GeoAuditArchived
import ai.llmpulse.sdk.models.GeoAuditComparison
import ai.llmpulse.sdk.models.GeoAuditCreateRequest
import ai.llmpulse.sdk.models.GeoAuditCreateResponse
import ai.llmpulse.sdk.models.GeoAuditFindingList
import ai.llmpulse.sdk.models.GeoAuditIssueList
import ai.llmpulse.sdk.models.GeoAuditIssueResponse
import ai.llmpulse.sdk.models.GeoAuditIssueUpdateRequest
import ai.llmpulse.sdk.models.GeoAuditList
import ai.llmpulse.sdk.models.GeoAuditResponse
import ai.llmpulse.sdk.models.GeoAuditRunDetail
import ai.llmpulse.sdk.models.GeoAuditRunList
import ai.llmpulse.sdk.models.GeoAuditRunResponse
import ai.llmpulse.sdk.models.GeoAuditUpdateRequest

import com.squareup.moshi.Json

import ai.llmpulse.sdk.infrastructure.ApiClient
import ai.llmpulse.sdk.infrastructure.ApiResponse
import ai.llmpulse.sdk.infrastructure.ClientException
import ai.llmpulse.sdk.infrastructure.ClientError
import ai.llmpulse.sdk.infrastructure.ServerException
import ai.llmpulse.sdk.infrastructure.ServerError
import ai.llmpulse.sdk.infrastructure.MultiValueMap
import ai.llmpulse.sdk.infrastructure.PartConfig
import ai.llmpulse.sdk.infrastructure.RequestConfig
import ai.llmpulse.sdk.infrastructure.RequestMethod
import ai.llmpulse.sdk.infrastructure.ResponseType
import ai.llmpulse.sdk.infrastructure.Success
import ai.llmpulse.sdk.infrastructure.toMultiValue

open class GEOAuditsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.llmpulse.ai/api/v1")
        }
    }

    /**
     * GET /geo_audits/{id}/comparison
     * Compare two GEO audit runs
     * 
     * @param id Audit id
     * @param projectId Project ID
     * @param fromRun Run number to compare from (default the run before to_run) (optional)
     * @param toRun Run number to compare to (default the latest completed run) (optional)
     * @return GeoAuditComparison
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun compareGeoAuditRuns(id: kotlin.String, projectId: kotlin.Int, fromRun: kotlin.Int? = null, toRun: kotlin.Int? = null) : GeoAuditComparison {
        val localVarResponse = compareGeoAuditRunsWithHttpInfo(id = id, projectId = projectId, fromRun = fromRun, toRun = toRun)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditComparison
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /geo_audits/{id}/comparison
     * Compare two GEO audit runs
     * 
     * @param id Audit id
     * @param projectId Project ID
     * @param fromRun Run number to compare from (default the run before to_run) (optional)
     * @param toRun Run number to compare to (default the latest completed run) (optional)
     * @return ApiResponse<GeoAuditComparison?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun compareGeoAuditRunsWithHttpInfo(id: kotlin.String, projectId: kotlin.Int, fromRun: kotlin.Int?, toRun: kotlin.Int?) : ApiResponse<GeoAuditComparison?> {
        val localVariableConfig = compareGeoAuditRunsRequestConfig(id = id, projectId = projectId, fromRun = fromRun, toRun = toRun)

        return request<Unit, GeoAuditComparison>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation compareGeoAuditRuns
     *
     * @param id Audit id
     * @param projectId Project ID
     * @param fromRun Run number to compare from (default the run before to_run) (optional)
     * @param toRun Run number to compare to (default the latest completed run) (optional)
     * @return RequestConfig
     */
    fun compareGeoAuditRunsRequestConfig(id: kotlin.String, projectId: kotlin.Int, fromRun: kotlin.Int?, toRun: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (fromRun != null) {
                    put("from_run", listOf(fromRun.toString()))
                }
                if (toRun != null) {
                    put("to_run", listOf(toRun.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/geo_audits/{id}/comparison".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /geo_audits
     * Create GEO audits
     * Creates one audit per entry of audit_types and starts the first run of each (it counts against the manual run limits: 6 per audit per hour, 200 per account per day). cadence weekly or monthly is accepted only for types whose checks are tracked run to run, and counts against the plan limit of active recurring audits (ERR_LIMIT_REACHED). Creating an audit that was archived restores it with its history. Requires a &#x60;read_write&#x60; scope API key.
     * @param geoAuditCreateRequest 
     * @return GeoAuditCreateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createGeoAudits(geoAuditCreateRequest: GeoAuditCreateRequest) : GeoAuditCreateResponse {
        val localVarResponse = createGeoAuditsWithHttpInfo(geoAuditCreateRequest = geoAuditCreateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditCreateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /geo_audits
     * Create GEO audits
     * Creates one audit per entry of audit_types and starts the first run of each (it counts against the manual run limits: 6 per audit per hour, 200 per account per day). cadence weekly or monthly is accepted only for types whose checks are tracked run to run, and counts against the plan limit of active recurring audits (ERR_LIMIT_REACHED). Creating an audit that was archived restores it with its history. Requires a &#x60;read_write&#x60; scope API key.
     * @param geoAuditCreateRequest 
     * @return ApiResponse<GeoAuditCreateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createGeoAuditsWithHttpInfo(geoAuditCreateRequest: GeoAuditCreateRequest) : ApiResponse<GeoAuditCreateResponse?> {
        val localVariableConfig = createGeoAuditsRequestConfig(geoAuditCreateRequest = geoAuditCreateRequest)

        return request<GeoAuditCreateRequest, GeoAuditCreateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createGeoAudits
     *
     * @param geoAuditCreateRequest 
     * @return RequestConfig
     */
    fun createGeoAuditsRequestConfig(geoAuditCreateRequest: GeoAuditCreateRequest) : RequestConfig<GeoAuditCreateRequest> {
        val localVariableBody = geoAuditCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/geo_audits",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /geo_audits/{id}
     * Delete (archive) a GEO audit
     * Archives the audit. Requires a &#x60;read_write&#x60; scope API key and, for team members, delete permission on GEO Optimization.
     * @param id Audit id
     * @param projectId Project ID
     * @return GeoAuditArchived
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteGeoAudit(id: kotlin.String, projectId: kotlin.Int) : GeoAuditArchived {
        val localVarResponse = deleteGeoAuditWithHttpInfo(id = id, projectId = projectId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditArchived
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /geo_audits/{id}
     * Delete (archive) a GEO audit
     * Archives the audit. Requires a &#x60;read_write&#x60; scope API key and, for team members, delete permission on GEO Optimization.
     * @param id Audit id
     * @param projectId Project ID
     * @return ApiResponse<GeoAuditArchived?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteGeoAuditWithHttpInfo(id: kotlin.String, projectId: kotlin.Int) : ApiResponse<GeoAuditArchived?> {
        val localVariableConfig = deleteGeoAuditRequestConfig(id = id, projectId = projectId)

        return request<Unit, GeoAuditArchived>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteGeoAudit
     *
     * @param id Audit id
     * @param projectId Project ID
     * @return RequestConfig
     */
    fun deleteGeoAuditRequestConfig(id: kotlin.String, projectId: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/geo_audits/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /geo_audits/{id}
     * Get a GEO audit
     * 
     * @param id Audit id
     * @param projectId Project ID
     * @return GeoAuditResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGeoAudit(id: kotlin.String, projectId: kotlin.Int) : GeoAuditResponse {
        val localVarResponse = getGeoAuditWithHttpInfo(id = id, projectId = projectId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /geo_audits/{id}
     * Get a GEO audit
     * 
     * @param id Audit id
     * @param projectId Project ID
     * @return ApiResponse<GeoAuditResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGeoAuditWithHttpInfo(id: kotlin.String, projectId: kotlin.Int) : ApiResponse<GeoAuditResponse?> {
        val localVariableConfig = getGeoAuditRequestConfig(id = id, projectId = projectId)

        return request<Unit, GeoAuditResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGeoAudit
     *
     * @param id Audit id
     * @param projectId Project ID
     * @return RequestConfig
     */
    fun getGeoAuditRequestConfig(id: kotlin.String, projectId: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/geo_audits/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /geo_audits/{geo_audit_id}/runs/{sequence}
     * Get a GEO audit run
     * 
     * @param geoAuditId Audit id
     * @param sequence Run number within the audit
     * @param projectId Project ID
     * @return GeoAuditRunDetail
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGeoAuditRun(geoAuditId: kotlin.String, sequence: kotlin.Int, projectId: kotlin.Int) : GeoAuditRunDetail {
        val localVarResponse = getGeoAuditRunWithHttpInfo(geoAuditId = geoAuditId, sequence = sequence, projectId = projectId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditRunDetail
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /geo_audits/{geo_audit_id}/runs/{sequence}
     * Get a GEO audit run
     * 
     * @param geoAuditId Audit id
     * @param sequence Run number within the audit
     * @param projectId Project ID
     * @return ApiResponse<GeoAuditRunDetail?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGeoAuditRunWithHttpInfo(geoAuditId: kotlin.String, sequence: kotlin.Int, projectId: kotlin.Int) : ApiResponse<GeoAuditRunDetail?> {
        val localVariableConfig = getGeoAuditRunRequestConfig(geoAuditId = geoAuditId, sequence = sequence, projectId = projectId)

        return request<Unit, GeoAuditRunDetail>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGeoAuditRun
     *
     * @param geoAuditId Audit id
     * @param sequence Run number within the audit
     * @param projectId Project ID
     * @return RequestConfig
     */
    fun getGeoAuditRunRequestConfig(geoAuditId: kotlin.String, sequence: kotlin.Int, projectId: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/geo_audits/{geo_audit_id}/runs/{sequence}".replace("{"+"geo_audit_id"+"}", encodeURIComponent(geoAuditId.toString())).replace("{"+"sequence"+"}", encodeURIComponent(sequence.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /geo_alerts
     * List GEO audit alerts
     * 
     * @param projectId Project ID
     * @param auditId Only alerts of this audit (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return GeoAlertList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listGeoAlerts(projectId: kotlin.Int, auditId: kotlin.String? = null, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20) : GeoAlertList {
        val localVarResponse = listGeoAlertsWithHttpInfo(projectId = projectId, auditId = auditId, page = page, perPage = perPage)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAlertList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /geo_alerts
     * List GEO audit alerts
     * 
     * @param projectId Project ID
     * @param auditId Only alerts of this audit (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return ApiResponse<GeoAlertList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listGeoAlertsWithHttpInfo(projectId: kotlin.Int, auditId: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?) : ApiResponse<GeoAlertList?> {
        val localVariableConfig = listGeoAlertsRequestConfig(projectId = projectId, auditId = auditId, page = page, perPage = perPage)

        return request<Unit, GeoAlertList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listGeoAlerts
     *
     * @param projectId Project ID
     * @param auditId Only alerts of this audit (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return RequestConfig
     */
    fun listGeoAlertsRequestConfig(projectId: kotlin.Int, auditId: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (auditId != null) {
                    put("audit_id", listOf(auditId.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/geo_alerts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter output
     */
     enum class OutputListGeoAuditFindings(val value: kotlin.String) {
         @Json(name = "flat") flat("flat"),
         @Json(name = "csv") csv("csv");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /geo_audits/{geo_audit_id}/runs/{sequence}/findings
     * List the findings of a GEO audit run
     * 
     * @param geoAuditId Audit id
     * @param sequence Run number within the audit
     * @param projectId Project ID
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON. (optional)
     * @return GeoAuditFindingList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listGeoAuditFindings(geoAuditId: kotlin.String, sequence: kotlin.Int, projectId: kotlin.Int, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20, output: OutputListGeoAuditFindings? = null) : GeoAuditFindingList {
        val localVarResponse = listGeoAuditFindingsWithHttpInfo(geoAuditId = geoAuditId, sequence = sequence, projectId = projectId, page = page, perPage = perPage, output = output)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditFindingList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /geo_audits/{geo_audit_id}/runs/{sequence}/findings
     * List the findings of a GEO audit run
     * 
     * @param geoAuditId Audit id
     * @param sequence Run number within the audit
     * @param projectId Project ID
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON. (optional)
     * @return ApiResponse<GeoAuditFindingList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listGeoAuditFindingsWithHttpInfo(geoAuditId: kotlin.String, sequence: kotlin.Int, projectId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, output: OutputListGeoAuditFindings?) : ApiResponse<GeoAuditFindingList?> {
        val localVariableConfig = listGeoAuditFindingsRequestConfig(geoAuditId = geoAuditId, sequence = sequence, projectId = projectId, page = page, perPage = perPage, output = output)

        return request<Unit, GeoAuditFindingList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listGeoAuditFindings
     *
     * @param geoAuditId Audit id
     * @param sequence Run number within the audit
     * @param projectId Project ID
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON. (optional)
     * @return RequestConfig
     */
    fun listGeoAuditFindingsRequestConfig(geoAuditId: kotlin.String, sequence: kotlin.Int, projectId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, output: OutputListGeoAuditFindings?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (output != null) {
                    put("output", listOf(output.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/geo_audits/{geo_audit_id}/runs/{sequence}/findings".replace("{"+"geo_audit_id"+"}", encodeURIComponent(geoAuditId.toString())).replace("{"+"sequence"+"}", encodeURIComponent(sequence.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter state
     */
     enum class StateListGeoAuditIssues(val value: kotlin.String) {
         @Json(name = "open") `open`("open"),
         @Json(name = "accepted") accepted("accepted"),
         @Json(name = "fixed") fixed("fixed"),
         @Json(name = "gone") gone("gone");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /geo_audits/{geo_audit_id}/issues
     * List the issues of a GEO audit
     * 
     * @param geoAuditId Audit id
     * @param projectId Project ID
     * @param state open means open and not accepted; default all (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return GeoAuditIssueList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listGeoAuditIssues(geoAuditId: kotlin.String, projectId: kotlin.Int, state: StateListGeoAuditIssues? = null, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20) : GeoAuditIssueList {
        val localVarResponse = listGeoAuditIssuesWithHttpInfo(geoAuditId = geoAuditId, projectId = projectId, state = state, page = page, perPage = perPage)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditIssueList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /geo_audits/{geo_audit_id}/issues
     * List the issues of a GEO audit
     * 
     * @param geoAuditId Audit id
     * @param projectId Project ID
     * @param state open means open and not accepted; default all (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return ApiResponse<GeoAuditIssueList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listGeoAuditIssuesWithHttpInfo(geoAuditId: kotlin.String, projectId: kotlin.Int, state: StateListGeoAuditIssues?, page: kotlin.Int?, perPage: kotlin.Int?) : ApiResponse<GeoAuditIssueList?> {
        val localVariableConfig = listGeoAuditIssuesRequestConfig(geoAuditId = geoAuditId, projectId = projectId, state = state, page = page, perPage = perPage)

        return request<Unit, GeoAuditIssueList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listGeoAuditIssues
     *
     * @param geoAuditId Audit id
     * @param projectId Project ID
     * @param state open means open and not accepted; default all (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return RequestConfig
     */
    fun listGeoAuditIssuesRequestConfig(geoAuditId: kotlin.String, projectId: kotlin.Int, state: StateListGeoAuditIssues?, page: kotlin.Int?, perPage: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (state != null) {
                    put("state", listOf(state.value))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/geo_audits/{geo_audit_id}/issues".replace("{"+"geo_audit_id"+"}", encodeURIComponent(geoAuditId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter output
     */
     enum class OutputListGeoAuditRuns(val value: kotlin.String) {
         @Json(name = "flat") flat("flat"),
         @Json(name = "csv") csv("csv");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /geo_audits/{geo_audit_id}/runs
     * List the runs of a GEO audit
     * 
     * @param geoAuditId Audit id
     * @param projectId Project ID
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON. (optional)
     * @return GeoAuditRunList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listGeoAuditRuns(geoAuditId: kotlin.String, projectId: kotlin.Int, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20, output: OutputListGeoAuditRuns? = null) : GeoAuditRunList {
        val localVarResponse = listGeoAuditRunsWithHttpInfo(geoAuditId = geoAuditId, projectId = projectId, page = page, perPage = perPage, output = output)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditRunList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /geo_audits/{geo_audit_id}/runs
     * List the runs of a GEO audit
     * 
     * @param geoAuditId Audit id
     * @param projectId Project ID
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON. (optional)
     * @return ApiResponse<GeoAuditRunList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listGeoAuditRunsWithHttpInfo(geoAuditId: kotlin.String, projectId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, output: OutputListGeoAuditRuns?) : ApiResponse<GeoAuditRunList?> {
        val localVariableConfig = listGeoAuditRunsRequestConfig(geoAuditId = geoAuditId, projectId = projectId, page = page, perPage = perPage, output = output)

        return request<Unit, GeoAuditRunList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listGeoAuditRuns
     *
     * @param geoAuditId Audit id
     * @param projectId Project ID
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON. (optional)
     * @return RequestConfig
     */
    fun listGeoAuditRunsRequestConfig(geoAuditId: kotlin.String, projectId: kotlin.Int, page: kotlin.Int?, perPage: kotlin.Int?, output: OutputListGeoAuditRuns?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (output != null) {
                    put("output", listOf(output.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/geo_audits/{geo_audit_id}/runs".replace("{"+"geo_audit_id"+"}", encodeURIComponent(geoAuditId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter auditType
     */
     enum class AuditTypeListGeoAudits(val value: kotlin.String) {
         @Json(name = "agent_readiness") agent_readiness("agent_readiness"),
         @Json(name = "robots_txt") robots_txt("robots_txt"),
         @Json(name = "crawlability") crawlability("crawlability"),
         @Json(name = "schema") schema("schema"),
         @Json(name = "content_readiness") content_readiness("content_readiness"),
         @Json(name = "discoverability") discoverability("discoverability"),
         @Json(name = "site_structure") site_structure("site_structure");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter status
     */
     enum class StatusListGeoAudits(val value: kotlin.String) {
         @Json(name = "active") active("active"),
         @Json(name = "paused") paused("paused"),
         @Json(name = "archived") archived("archived");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter cadence
     */
     enum class CadenceListGeoAudits(val value: kotlin.String) {
         @Json(name = "once") once("once"),
         @Json(name = "weekly") weekly("weekly"),
         @Json(name = "monthly") monthly("monthly");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /geo_audits
     * List GEO audits
     * Lists the project&#39;s audits, most recently updated first. Archived audits are left out unless status&#x3D;archived.
     * @param projectId Project ID
     * @param auditType  (optional)
     * @param status  (optional)
     * @param cadence  (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return GeoAuditList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listGeoAudits(projectId: kotlin.Int, auditType: AuditTypeListGeoAudits? = null, status: StatusListGeoAudits? = null, cadence: CadenceListGeoAudits? = null, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20) : GeoAuditList {
        val localVarResponse = listGeoAuditsWithHttpInfo(projectId = projectId, auditType = auditType, status = status, cadence = cadence, page = page, perPage = perPage)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /geo_audits
     * List GEO audits
     * Lists the project&#39;s audits, most recently updated first. Archived audits are left out unless status&#x3D;archived.
     * @param projectId Project ID
     * @param auditType  (optional)
     * @param status  (optional)
     * @param cadence  (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return ApiResponse<GeoAuditList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listGeoAuditsWithHttpInfo(projectId: kotlin.Int, auditType: AuditTypeListGeoAudits?, status: StatusListGeoAudits?, cadence: CadenceListGeoAudits?, page: kotlin.Int?, perPage: kotlin.Int?) : ApiResponse<GeoAuditList?> {
        val localVariableConfig = listGeoAuditsRequestConfig(projectId = projectId, auditType = auditType, status = status, cadence = cadence, page = page, perPage = perPage)

        return request<Unit, GeoAuditList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listGeoAudits
     *
     * @param projectId Project ID
     * @param auditType  (optional)
     * @param status  (optional)
     * @param cadence  (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return RequestConfig
     */
    fun listGeoAuditsRequestConfig(projectId: kotlin.Int, auditType: AuditTypeListGeoAudits?, status: StatusListGeoAudits?, cadence: CadenceListGeoAudits?, page: kotlin.Int?, perPage: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (auditType != null) {
                    put("audit_type", listOf(auditType.value))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
                if (cadence != null) {
                    put("cadence", listOf(cadence.value))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/geo_audits",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /geo_audits/{geo_audit_id}/runs
     * Run a GEO audit now
     * Starts a run and returns it with status queued; poll GET /geo_audits/{geo_audit_id}/runs/{sequence} until status is completed, failed or unreachable. Limited to 6 manual runs per audit per rolling hour and 200 per account per day (ERR_LIMIT_REACHED); scheduled runs do not count. Requires a &#x60;read_write&#x60; scope API key.
     * @param geoAuditId Audit id
     * @param projectId Project ID
     * @return GeoAuditRunResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun runGeoAudit(geoAuditId: kotlin.String, projectId: kotlin.Int) : GeoAuditRunResponse {
        val localVarResponse = runGeoAuditWithHttpInfo(geoAuditId = geoAuditId, projectId = projectId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditRunResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /geo_audits/{geo_audit_id}/runs
     * Run a GEO audit now
     * Starts a run and returns it with status queued; poll GET /geo_audits/{geo_audit_id}/runs/{sequence} until status is completed, failed or unreachable. Limited to 6 manual runs per audit per rolling hour and 200 per account per day (ERR_LIMIT_REACHED); scheduled runs do not count. Requires a &#x60;read_write&#x60; scope API key.
     * @param geoAuditId Audit id
     * @param projectId Project ID
     * @return ApiResponse<GeoAuditRunResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun runGeoAuditWithHttpInfo(geoAuditId: kotlin.String, projectId: kotlin.Int) : ApiResponse<GeoAuditRunResponse?> {
        val localVariableConfig = runGeoAuditRequestConfig(geoAuditId = geoAuditId, projectId = projectId)

        return request<Unit, GeoAuditRunResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation runGeoAudit
     *
     * @param geoAuditId Audit id
     * @param projectId Project ID
     * @return RequestConfig
     */
    fun runGeoAuditRequestConfig(geoAuditId: kotlin.String, projectId: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/geo_audits/{geo_audit_id}/runs".replace("{"+"geo_audit_id"+"}", encodeURIComponent(geoAuditId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /geo_audits/{id}
     * Update a GEO audit
     * Updates the schedule, the email alerts or the status. Making an audit recurring or resuming it counts against the plan limit of active recurring audits (ERR_LIMIT_REACHED). Requires a &#x60;read_write&#x60; scope API key and, for team members, update permission on GEO Optimization.
     * @param id Audit id
     * @param geoAuditUpdateRequest 
     * @return GeoAuditResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateGeoAudit(id: kotlin.String, geoAuditUpdateRequest: GeoAuditUpdateRequest) : GeoAuditResponse {
        val localVarResponse = updateGeoAuditWithHttpInfo(id = id, geoAuditUpdateRequest = geoAuditUpdateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /geo_audits/{id}
     * Update a GEO audit
     * Updates the schedule, the email alerts or the status. Making an audit recurring or resuming it counts against the plan limit of active recurring audits (ERR_LIMIT_REACHED). Requires a &#x60;read_write&#x60; scope API key and, for team members, update permission on GEO Optimization.
     * @param id Audit id
     * @param geoAuditUpdateRequest 
     * @return ApiResponse<GeoAuditResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateGeoAuditWithHttpInfo(id: kotlin.String, geoAuditUpdateRequest: GeoAuditUpdateRequest) : ApiResponse<GeoAuditResponse?> {
        val localVariableConfig = updateGeoAuditRequestConfig(id = id, geoAuditUpdateRequest = geoAuditUpdateRequest)

        return request<GeoAuditUpdateRequest, GeoAuditResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateGeoAudit
     *
     * @param id Audit id
     * @param geoAuditUpdateRequest 
     * @return RequestConfig
     */
    fun updateGeoAuditRequestConfig(id: kotlin.String, geoAuditUpdateRequest: GeoAuditUpdateRequest) : RequestConfig<GeoAuditUpdateRequest> {
        val localVariableBody = geoAuditUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/geo_audits/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /geo_audits/{geo_audit_id}/issues/{id}
     * Accept or reopen a GEO audit issue
     * Requires a &#x60;read_write&#x60; scope API key and, for team members, update permission on GEO Optimization.
     * @param geoAuditId Audit id
     * @param id Issue id
     * @param geoAuditIssueUpdateRequest 
     * @return GeoAuditIssueResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateGeoAuditIssue(geoAuditId: kotlin.String, id: kotlin.Int, geoAuditIssueUpdateRequest: GeoAuditIssueUpdateRequest) : GeoAuditIssueResponse {
        val localVarResponse = updateGeoAuditIssueWithHttpInfo(geoAuditId = geoAuditId, id = id, geoAuditIssueUpdateRequest = geoAuditIssueUpdateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GeoAuditIssueResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /geo_audits/{geo_audit_id}/issues/{id}
     * Accept or reopen a GEO audit issue
     * Requires a &#x60;read_write&#x60; scope API key and, for team members, update permission on GEO Optimization.
     * @param geoAuditId Audit id
     * @param id Issue id
     * @param geoAuditIssueUpdateRequest 
     * @return ApiResponse<GeoAuditIssueResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateGeoAuditIssueWithHttpInfo(geoAuditId: kotlin.String, id: kotlin.Int, geoAuditIssueUpdateRequest: GeoAuditIssueUpdateRequest) : ApiResponse<GeoAuditIssueResponse?> {
        val localVariableConfig = updateGeoAuditIssueRequestConfig(geoAuditId = geoAuditId, id = id, geoAuditIssueUpdateRequest = geoAuditIssueUpdateRequest)

        return request<GeoAuditIssueUpdateRequest, GeoAuditIssueResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateGeoAuditIssue
     *
     * @param geoAuditId Audit id
     * @param id Issue id
     * @param geoAuditIssueUpdateRequest 
     * @return RequestConfig
     */
    fun updateGeoAuditIssueRequestConfig(geoAuditId: kotlin.String, id: kotlin.Int, geoAuditIssueUpdateRequest: GeoAuditIssueUpdateRequest) : RequestConfig<GeoAuditIssueUpdateRequest> {
        val localVariableBody = geoAuditIssueUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/geo_audits/{geo_audit_id}/issues/{id}".replace("{"+"geo_audit_id"+"}", encodeURIComponent(geoAuditId.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
