/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.llmpulse.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.llmpulse.sdk.models.ApiError
import ai.llmpulse.sdk.models.LaunchRecommendationsRequest

import com.squareup.moshi.Json

import ai.llmpulse.sdk.infrastructure.ApiClient
import ai.llmpulse.sdk.infrastructure.ApiResponse
import ai.llmpulse.sdk.infrastructure.ClientException
import ai.llmpulse.sdk.infrastructure.ClientError
import ai.llmpulse.sdk.infrastructure.ServerException
import ai.llmpulse.sdk.infrastructure.ServerError
import ai.llmpulse.sdk.infrastructure.MultiValueMap
import ai.llmpulse.sdk.infrastructure.PartConfig
import ai.llmpulse.sdk.infrastructure.RequestConfig
import ai.llmpulse.sdk.infrastructure.RequestMethod
import ai.llmpulse.sdk.infrastructure.ResponseType
import ai.llmpulse.sdk.infrastructure.Success
import ai.llmpulse.sdk.infrastructure.toMultiValue

open class RecommendationsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.llmpulse.ai/api/v1")
        }
    }

    /**
     * enum for parameter itemStatus
     */
     enum class ItemStatusGetRecommendation(val value: kotlin.String) {
         @Json(name = "active") active("active"),
         @Json(name = "completed") completed("completed"),
         @Json(name = "archived") archived("archived");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /recommendations/{id}
     * Get recommendation run with items
     * 
     * @param id 
     * @param projectId Project ID
     * @param itemStatus  (optional)
     * @param resolveSourceRefs  (optional, default to true)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getRecommendation(id: kotlin.Int, projectId: kotlin.Int, itemStatus: ItemStatusGetRecommendation? = null, resolveSourceRefs: kotlin.Boolean? = true) : Unit {
        val localVarResponse = getRecommendationWithHttpInfo(id = id, projectId = projectId, itemStatus = itemStatus, resolveSourceRefs = resolveSourceRefs)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /recommendations/{id}
     * Get recommendation run with items
     * 
     * @param id 
     * @param projectId Project ID
     * @param itemStatus  (optional)
     * @param resolveSourceRefs  (optional, default to true)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getRecommendationWithHttpInfo(id: kotlin.Int, projectId: kotlin.Int, itemStatus: ItemStatusGetRecommendation?, resolveSourceRefs: kotlin.Boolean?) : ApiResponse<Unit?> {
        val localVariableConfig = getRecommendationRequestConfig(id = id, projectId = projectId, itemStatus = itemStatus, resolveSourceRefs = resolveSourceRefs)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getRecommendation
     *
     * @param id 
     * @param projectId Project ID
     * @param itemStatus  (optional)
     * @param resolveSourceRefs  (optional, default to true)
     * @return RequestConfig
     */
    fun getRecommendationRequestConfig(id: kotlin.Int, projectId: kotlin.Int, itemStatus: ItemStatusGetRecommendation?, resolveSourceRefs: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (itemStatus != null) {
                    put("item_status", listOf(itemStatus.value))
                }
                if (resolveSourceRefs != null) {
                    put("resolve_source_refs", listOf(resolveSourceRefs.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recommendations/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /recommendations
     * Launch a recommendations generation
     * Launches a full-scope recommendations generation (async job, 1-3 minutes; poll GET /recommendations/{id} until status is completed). Consumes the project weekly recommendation-item budget: returns ERR_LIMIT_REACHED when it is exhausted or when a generation of the same type is already pending/processing. sentiment_reputation requires the Scale plan or above. Requires a &#x60;read_write&#x60; scope API key.
     * @param launchRecommendationsRequest 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun launchRecommendations(launchRecommendationsRequest: LaunchRecommendationsRequest) : Unit {
        val localVarResponse = launchRecommendationsWithHttpInfo(launchRecommendationsRequest = launchRecommendationsRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /recommendations
     * Launch a recommendations generation
     * Launches a full-scope recommendations generation (async job, 1-3 minutes; poll GET /recommendations/{id} until status is completed). Consumes the project weekly recommendation-item budget: returns ERR_LIMIT_REACHED when it is exhausted or when a generation of the same type is already pending/processing. sentiment_reputation requires the Scale plan or above. Requires a &#x60;read_write&#x60; scope API key.
     * @param launchRecommendationsRequest 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun launchRecommendationsWithHttpInfo(launchRecommendationsRequest: LaunchRecommendationsRequest) : ApiResponse<Unit?> {
        val localVariableConfig = launchRecommendationsRequestConfig(launchRecommendationsRequest = launchRecommendationsRequest)

        return request<LaunchRecommendationsRequest, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation launchRecommendations
     *
     * @param launchRecommendationsRequest 
     * @return RequestConfig
     */
    fun launchRecommendationsRequestConfig(launchRecommendationsRequest: LaunchRecommendationsRequest) : RequestConfig<LaunchRecommendationsRequest> {
        val localVariableBody = launchRecommendationsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/recommendations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter recommendationType
     */
     enum class RecommendationTypeListRecommendations(val value: kotlin.String) {
         @Json(name = "ai_visibility") ai_visibility("ai_visibility"),
         @Json(name = "social_community") social_community("social_community"),
         @Json(name = "brand_building") brand_building("brand_building"),
         @Json(name = "sentiment_reputation") sentiment_reputation("sentiment_reputation");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter status
     */
     enum class StatusListRecommendations(val value: kotlin.String) {
         @Json(name = "pending") pending("pending"),
         @Json(name = "processing") processing("processing"),
         @Json(name = "completed") completed("completed"),
         @Json(name = "failed") failed("failed");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /recommendations
     * List recommendation runs
     * 
     * @param projectId Project ID
     * @param recommendationType  (optional)
     * @param status  (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listRecommendations(projectId: kotlin.Int, recommendationType: RecommendationTypeListRecommendations? = null, status: StatusListRecommendations? = null, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20) : Unit {
        val localVarResponse = listRecommendationsWithHttpInfo(projectId = projectId, recommendationType = recommendationType, status = status, page = page, perPage = perPage)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /recommendations
     * List recommendation runs
     * 
     * @param projectId Project ID
     * @param recommendationType  (optional)
     * @param status  (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun listRecommendationsWithHttpInfo(projectId: kotlin.Int, recommendationType: RecommendationTypeListRecommendations?, status: StatusListRecommendations?, page: kotlin.Int?, perPage: kotlin.Int?) : ApiResponse<Unit?> {
        val localVariableConfig = listRecommendationsRequestConfig(projectId = projectId, recommendationType = recommendationType, status = status, page = page, perPage = perPage)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listRecommendations
     *
     * @param projectId Project ID
     * @param recommendationType  (optional)
     * @param status  (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return RequestConfig
     */
    fun listRecommendationsRequestConfig(projectId: kotlin.Int, recommendationType: RecommendationTypeListRecommendations?, status: StatusListRecommendations?, page: kotlin.Int?, perPage: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (recommendationType != null) {
                    put("recommendation_type", listOf(recommendationType.value))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recommendations",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
