/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.llmpulse.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.llmpulse.sdk.models.ApiError
import ai.llmpulse.sdk.models.GetTimeseriesCollectionIdParameter

import com.squareup.moshi.Json

import ai.llmpulse.sdk.infrastructure.ApiClient
import ai.llmpulse.sdk.infrastructure.ApiResponse
import ai.llmpulse.sdk.infrastructure.ClientException
import ai.llmpulse.sdk.infrastructure.ClientError
import ai.llmpulse.sdk.infrastructure.ServerException
import ai.llmpulse.sdk.infrastructure.ServerError
import ai.llmpulse.sdk.infrastructure.MultiValueMap
import ai.llmpulse.sdk.infrastructure.PartConfig
import ai.llmpulse.sdk.infrastructure.RequestConfig
import ai.llmpulse.sdk.infrastructure.RequestMethod
import ai.llmpulse.sdk.infrastructure.ResponseType
import ai.llmpulse.sdk.infrastructure.Success
import ai.llmpulse.sdk.infrastructure.toMultiValue

open class SentimentsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.llmpulse.ai/api/v1")
        }
    }

    /**
     * enum for parameter output
     */
     enum class OutputListSentimentCategories(val value: kotlin.String) {
         @Json(name = "flat") flat("flat"),
         @Json(name = "csv") csv("csv");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /dimensions/sentiments
     * List sentiment categories
     * Sentiment metric keys + labels + colors. For records, use /sentiments.
     * @param projectId Project ID
     * @param output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON. (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listSentimentCategories(projectId: kotlin.Int, output: OutputListSentimentCategories? = null) : Unit {
        val localVarResponse = listSentimentCategoriesWithHttpInfo(projectId = projectId, output = output)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dimensions/sentiments
     * List sentiment categories
     * Sentiment metric keys + labels + colors. For records, use /sentiments.
     * @param projectId Project ID
     * @param output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON. (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun listSentimentCategoriesWithHttpInfo(projectId: kotlin.Int, output: OutputListSentimentCategories?) : ApiResponse<Unit?> {
        val localVariableConfig = listSentimentCategoriesRequestConfig(projectId = projectId, output = output)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listSentimentCategories
     *
     * @param projectId Project ID
     * @param output Rectangular output for BI tools (Tableau, Excel, Sheets, ELT). Omit for the default nested JSON. &#39;flat&#39; returns the same metadata plus &#39;columns&#39; and &#39;rows&#39;; &#39;csv&#39; returns those rows as text/csv. Errors are always returned as JSON. (optional)
     * @return RequestConfig
     */
    fun listSentimentCategoriesRequestConfig(projectId: kotlin.Int, output: OutputListSentimentCategories?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (output != null) {
                    put("output", listOf(output.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dimensions/sentiments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter model
     */
     enum class ModelListSentimentRecords(val value: kotlin.String) {
         @Json(name = "chatgpt") chatgpt("chatgpt"),
         @Json(name = "perplexity") perplexity("perplexity"),
         @Json(name = "gemini") gemini("gemini"),
         @Json(name = "ai_overview") ai_overview("ai_overview"),
         @Json(name = "ai_mode") ai_mode("ai_mode"),
         @Json(name = "copilot") copilot("copilot"),
         @Json(name = "claude") claude("claude"),
         @Json(name = "grok") grok("grok"),
         @Json(name = "deepseek") deepseek("deepseek"),
         @Json(name = "meta_ai") meta_ai("meta_ai"),
         @Json(name = "amazon_rufus") amazon_rufus("amazon_rufus"),
         @Json(name = "naver_ai") naver_ai("naver_ai"),
         @Json(name = "baidu_ai") baidu_ai("baidu_ai");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /sentiments
     * List sentiment records
     * 
     * @param projectId Project ID
     * @param competitorId  (optional)
     * @param brandOnly  (optional)
     * @param analysis One sentiment level or a comma-separated list: very_positive, positive, neutral, negative, very_negative (optional)
     * @param model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped. (optional)
     * @param collectionId One collection/tag ID or a comma-separated list of IDs (optional)
     * @param countryCode One ISO country code or a comma-separated list (e.g. US,GB,DE) (optional)
     * @param languageCode One ISO language code or a comma-separated list (e.g. en,es,de) (optional)
     * @param from  (optional)
     * @param to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier. (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listSentimentRecords(projectId: kotlin.Int, competitorId: kotlin.Int? = null, brandOnly: kotlin.Boolean? = null, analysis: kotlin.String? = null, model: ModelListSentimentRecords? = null, collectionId: GetTimeseriesCollectionIdParameter? = null, countryCode: kotlin.String? = null, languageCode: kotlin.String? = null, from: java.time.OffsetDateTime? = null, to: java.time.OffsetDateTime? = null, page: kotlin.Int? = 1, perPage: kotlin.Int? = 20) : Unit {
        val localVarResponse = listSentimentRecordsWithHttpInfo(projectId = projectId, competitorId = competitorId, brandOnly = brandOnly, analysis = analysis, model = model, collectionId = collectionId, countryCode = countryCode, languageCode = languageCode, from = from, to = to, page = page, perPage = perPage)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /sentiments
     * List sentiment records
     * 
     * @param projectId Project ID
     * @param competitorId  (optional)
     * @param brandOnly  (optional)
     * @param analysis One sentiment level or a comma-separated list: very_positive, positive, neutral, negative, very_negative (optional)
     * @param model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped. (optional)
     * @param collectionId One collection/tag ID or a comma-separated list of IDs (optional)
     * @param countryCode One ISO country code or a comma-separated list (e.g. US,GB,DE) (optional)
     * @param languageCode One ISO language code or a comma-separated list (e.g. en,es,de) (optional)
     * @param from  (optional)
     * @param to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier. (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun listSentimentRecordsWithHttpInfo(projectId: kotlin.Int, competitorId: kotlin.Int?, brandOnly: kotlin.Boolean?, analysis: kotlin.String?, model: ModelListSentimentRecords?, collectionId: GetTimeseriesCollectionIdParameter?, countryCode: kotlin.String?, languageCode: kotlin.String?, from: java.time.OffsetDateTime?, to: java.time.OffsetDateTime?, page: kotlin.Int?, perPage: kotlin.Int?) : ApiResponse<Unit?> {
        val localVariableConfig = listSentimentRecordsRequestConfig(projectId = projectId, competitorId = competitorId, brandOnly = brandOnly, analysis = analysis, model = model, collectionId = collectionId, countryCode = countryCode, languageCode = languageCode, from = from, to = to, page = page, perPage = perPage)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listSentimentRecords
     *
     * @param projectId Project ID
     * @param competitorId  (optional)
     * @param brandOnly  (optional)
     * @param analysis One sentiment level or a comma-separated list: very_positive, positive, neutral, negative, very_negative (optional)
     * @param model Filter by AI model. Models the API key&#39;s user has not enabled are silently dropped. (optional)
     * @param collectionId One collection/tag ID or a comma-separated list of IDs (optional)
     * @param countryCode One ISO country code or a comma-separated list (e.g. US,GB,DE) (optional)
     * @param languageCode One ISO language code or a comma-separated list (e.g. en,es,de) (optional)
     * @param from  (optional)
     * @param to End of the window. A date-only value such as 2026-09-01 covers that whole day. Pass a full timestamp to end the window earlier. (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @return RequestConfig
     */
    fun listSentimentRecordsRequestConfig(projectId: kotlin.Int, competitorId: kotlin.Int?, brandOnly: kotlin.Boolean?, analysis: kotlin.String?, model: ModelListSentimentRecords?, collectionId: GetTimeseriesCollectionIdParameter?, countryCode: kotlin.String?, languageCode: kotlin.String?, from: java.time.OffsetDateTime?, to: java.time.OffsetDateTime?, page: kotlin.Int?, perPage: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (competitorId != null) {
                    put("competitor_id", listOf(competitorId.toString()))
                }
                if (brandOnly != null) {
                    put("brand_only", listOf(brandOnly.toString()))
                }
                if (analysis != null) {
                    put("analysis", listOf(analysis.toString()))
                }
                if (model != null) {
                    put("model", listOf(model.value))
                }
                if (collectionId != null) {
                }
                if (countryCode != null) {
                    put("country_code", listOf(countryCode.toString()))
                }
                if (languageCode != null) {
                    put("language_code", listOf(languageCode.toString()))
                }
                if (from != null) {
                    put("from", listOf(parseDateToQueryString<java.time.OffsetDateTime>(from)))
                }
                if (to != null) {
                    put("to", listOf(parseDateToQueryString<java.time.OffsetDateTime>(to)))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sentiments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
