/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.llmpulse.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.llmpulse.sdk.models.AiOrdersResponse
import ai.llmpulse.sdk.models.AiOrdersUpdateRequest
import ai.llmpulse.sdk.models.AiOrdersUpdateResponse
import ai.llmpulse.sdk.models.ApiError
import ai.llmpulse.sdk.models.CatalogPromptSuggestionIdsRequest
import ai.llmpulse.sdk.models.CatalogPromptSuggestionsAcceptResponse
import ai.llmpulse.sdk.models.CatalogPromptSuggestionsCreateRequest
import ai.llmpulse.sdk.models.CatalogPromptSuggestionsCreateResponse
import ai.llmpulse.sdk.models.CatalogPromptSuggestionsRejectResponse
import ai.llmpulse.sdk.models.CatalogPromptSuggestionsResponse
import ai.llmpulse.sdk.models.StoreConnectionResponse

import com.squareup.moshi.Json

import ai.llmpulse.sdk.infrastructure.ApiClient
import ai.llmpulse.sdk.infrastructure.ApiResponse
import ai.llmpulse.sdk.infrastructure.ClientException
import ai.llmpulse.sdk.infrastructure.ClientError
import ai.llmpulse.sdk.infrastructure.ServerException
import ai.llmpulse.sdk.infrastructure.ServerError
import ai.llmpulse.sdk.infrastructure.MultiValueMap
import ai.llmpulse.sdk.infrastructure.PartConfig
import ai.llmpulse.sdk.infrastructure.RequestConfig
import ai.llmpulse.sdk.infrastructure.RequestMethod
import ai.llmpulse.sdk.infrastructure.ResponseType
import ai.llmpulse.sdk.infrastructure.Success
import ai.llmpulse.sdk.infrastructure.toMultiValue

open class StoreIntegrationsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://api.llmpulse.ai/api/v1")
        }
    }

    /**
     * POST /catalog_prompt_suggestions/accept
     * Accept catalog prompt suggestions
     * Starts tracking pending suggestions: each one becomes a prompt, tagged with a collection named after its product. Suggestions that are no longer pending come back in skipped. All accepted suggestions must share one country and language. When the new prompts would exceed the plan, the call returns ERR_LIMIT_REACHED and accepts nothing. Requires a &#x60;read_write&#x60; scope API key and, for team members, create access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param catalogPromptSuggestionIdsRequest 
     * @return CatalogPromptSuggestionsAcceptResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun acceptCatalogPromptSuggestions(catalogPromptSuggestionIdsRequest: CatalogPromptSuggestionIdsRequest) : CatalogPromptSuggestionsAcceptResponse {
        val localVarResponse = acceptCatalogPromptSuggestionsWithHttpInfo(catalogPromptSuggestionIdsRequest = catalogPromptSuggestionIdsRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CatalogPromptSuggestionsAcceptResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /catalog_prompt_suggestions/accept
     * Accept catalog prompt suggestions
     * Starts tracking pending suggestions: each one becomes a prompt, tagged with a collection named after its product. Suggestions that are no longer pending come back in skipped. All accepted suggestions must share one country and language. When the new prompts would exceed the plan, the call returns ERR_LIMIT_REACHED and accepts nothing. Requires a &#x60;read_write&#x60; scope API key and, for team members, create access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param catalogPromptSuggestionIdsRequest 
     * @return ApiResponse<CatalogPromptSuggestionsAcceptResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun acceptCatalogPromptSuggestionsWithHttpInfo(catalogPromptSuggestionIdsRequest: CatalogPromptSuggestionIdsRequest) : ApiResponse<CatalogPromptSuggestionsAcceptResponse?> {
        val localVariableConfig = acceptCatalogPromptSuggestionsRequestConfig(catalogPromptSuggestionIdsRequest = catalogPromptSuggestionIdsRequest)

        return request<CatalogPromptSuggestionIdsRequest, CatalogPromptSuggestionsAcceptResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation acceptCatalogPromptSuggestions
     *
     * @param catalogPromptSuggestionIdsRequest 
     * @return RequestConfig
     */
    fun acceptCatalogPromptSuggestionsRequestConfig(catalogPromptSuggestionIdsRequest: CatalogPromptSuggestionIdsRequest) : RequestConfig<CatalogPromptSuggestionIdsRequest> {
        val localVariableBody = catalogPromptSuggestionIdsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/catalog_prompt_suggestions/accept",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /catalog_prompt_suggestions
     * Suggest buyer prompts from catalog products
     * Writes buyer prompts for up to 20 catalog products and saves them as pending suggestions in the project&#39;s Suggested prompts queue, with the product recorded on each. Generation draws on the hourly prompt-suggestion allowance the app also uses (ERR_QUOTA_EXCEEDED once it is used up); a failed generation returns ERR_GENERATION_FAILED (502) and can be retried. Requires a &#x60;read_write&#x60; scope API key and, for team members, create access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param catalogPromptSuggestionsCreateRequest 
     * @return CatalogPromptSuggestionsCreateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createCatalogPromptSuggestions(catalogPromptSuggestionsCreateRequest: CatalogPromptSuggestionsCreateRequest) : CatalogPromptSuggestionsCreateResponse {
        val localVarResponse = createCatalogPromptSuggestionsWithHttpInfo(catalogPromptSuggestionsCreateRequest = catalogPromptSuggestionsCreateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CatalogPromptSuggestionsCreateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /catalog_prompt_suggestions
     * Suggest buyer prompts from catalog products
     * Writes buyer prompts for up to 20 catalog products and saves them as pending suggestions in the project&#39;s Suggested prompts queue, with the product recorded on each. Generation draws on the hourly prompt-suggestion allowance the app also uses (ERR_QUOTA_EXCEEDED once it is used up); a failed generation returns ERR_GENERATION_FAILED (502) and can be retried. Requires a &#x60;read_write&#x60; scope API key and, for team members, create access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param catalogPromptSuggestionsCreateRequest 
     * @return ApiResponse<CatalogPromptSuggestionsCreateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createCatalogPromptSuggestionsWithHttpInfo(catalogPromptSuggestionsCreateRequest: CatalogPromptSuggestionsCreateRequest) : ApiResponse<CatalogPromptSuggestionsCreateResponse?> {
        val localVariableConfig = createCatalogPromptSuggestionsRequestConfig(catalogPromptSuggestionsCreateRequest = catalogPromptSuggestionsCreateRequest)

        return request<CatalogPromptSuggestionsCreateRequest, CatalogPromptSuggestionsCreateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createCatalogPromptSuggestions
     *
     * @param catalogPromptSuggestionsCreateRequest 
     * @return RequestConfig
     */
    fun createCatalogPromptSuggestionsRequestConfig(catalogPromptSuggestionsCreateRequest: CatalogPromptSuggestionsCreateRequest) : RequestConfig<CatalogPromptSuggestionsCreateRequest> {
        val localVariableBody = catalogPromptSuggestionsCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/catalog_prompt_suggestions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter platform
     */
     enum class PlatformGetStoreConnection(val value: kotlin.String) {
         @Json(name = "shopify") shopify("shopify");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /store_connection
     * Match a store to a project
     * Tells a store app whether the API key&#39;s account can use it and which project the store belongs to: the live project whose domain equals the store domain, else one whose domain is a parent or a subdomain of it, else null. candidates lists every live project of the account so the app can offer a picker. Takes no project_id. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param platform Store platform
     * @param domain Store domain, with or without scheme, e.g. acme-store.com
     * @return StoreConnectionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getStoreConnection(platform: PlatformGetStoreConnection, domain: kotlin.String) : StoreConnectionResponse {
        val localVarResponse = getStoreConnectionWithHttpInfo(platform = platform, domain = domain)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StoreConnectionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /store_connection
     * Match a store to a project
     * Tells a store app whether the API key&#39;s account can use it and which project the store belongs to: the live project whose domain equals the store domain, else one whose domain is a parent or a subdomain of it, else null. candidates lists every live project of the account so the app can offer a picker. Takes no project_id. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param platform Store platform
     * @param domain Store domain, with or without scheme, e.g. acme-store.com
     * @return ApiResponse<StoreConnectionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getStoreConnectionWithHttpInfo(platform: PlatformGetStoreConnection, domain: kotlin.String) : ApiResponse<StoreConnectionResponse?> {
        val localVariableConfig = getStoreConnectionRequestConfig(platform = platform, domain = domain)

        return request<Unit, StoreConnectionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getStoreConnection
     *
     * @param platform Store platform
     * @param domain Store domain, with or without scheme, e.g. acme-store.com
     * @return RequestConfig
     */
    fun getStoreConnectionRequestConfig(platform: PlatformGetStoreConnection, domain: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("platform", listOf(platform.value))
                put("domain", listOf(domain.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/store_connection",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter platform
     */
     enum class PlatformListAiOrders(val value: kotlin.String) {
         @Json(name = "shopify") shopify("shopify");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /ai_orders
     * Read AI-referred store orders
     * Reads back the AI-referred orders a store app pushed for a project: totals, one row per AI assistant and a daily series of the days with orders. Revenue values are decimal strings in currency. Team members need read access to AI Traffic. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param projectId Project ID
     * @param platform Store platform (optional, default to Platform.shopify)
     * @param from First day (YYYY-MM-DD). Defaults to 89 days before to (optional)
     * @param to Last day (YYYY-MM-DD). Defaults to today; the window is at most 400 days (optional)
     * @return AiOrdersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listAiOrders(projectId: kotlin.Int, platform: PlatformListAiOrders? = PlatformListAiOrders.shopify, from: java.time.LocalDate? = null, to: java.time.LocalDate? = null) : AiOrdersResponse {
        val localVarResponse = listAiOrdersWithHttpInfo(projectId = projectId, platform = platform, from = from, to = to)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AiOrdersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ai_orders
     * Read AI-referred store orders
     * Reads back the AI-referred orders a store app pushed for a project: totals, one row per AI assistant and a daily series of the days with orders. Revenue values are decimal strings in currency. Team members need read access to AI Traffic. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param projectId Project ID
     * @param platform Store platform (optional, default to Platform.shopify)
     * @param from First day (YYYY-MM-DD). Defaults to 89 days before to (optional)
     * @param to Last day (YYYY-MM-DD). Defaults to today; the window is at most 400 days (optional)
     * @return ApiResponse<AiOrdersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listAiOrdersWithHttpInfo(projectId: kotlin.Int, platform: PlatformListAiOrders?, from: java.time.LocalDate?, to: java.time.LocalDate?) : ApiResponse<AiOrdersResponse?> {
        val localVariableConfig = listAiOrdersRequestConfig(projectId = projectId, platform = platform, from = from, to = to)

        return request<Unit, AiOrdersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listAiOrders
     *
     * @param projectId Project ID
     * @param platform Store platform (optional, default to Platform.shopify)
     * @param from First day (YYYY-MM-DD). Defaults to 89 days before to (optional)
     * @param to Last day (YYYY-MM-DD). Defaults to today; the window is at most 400 days (optional)
     * @return RequestConfig
     */
    fun listAiOrdersRequestConfig(projectId: kotlin.Int, platform: PlatformListAiOrders?, from: java.time.LocalDate?, to: java.time.LocalDate?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (platform != null) {
                    put("platform", listOf(platform.value))
                }
                if (from != null) {
                    put("from", listOf(parseDateToQueryString<java.time.LocalDate>(from)))
                }
                if (to != null) {
                    put("to", listOf(parseDateToQueryString<java.time.LocalDate>(to)))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ai_orders",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusListCatalogPromptSuggestions(val value: kotlin.String) {
         @Json(name = "pending") pending("pending"),
         @Json(name = "accepted") accepted("accepted"),
         @Json(name = "rejected") rejected("rejected");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /catalog_prompt_suggestions
     * List catalog prompt suggestions
     * Lists the buyer prompts suggested from a store catalog, oldest first, with their status and the product each one came from. Team members need read access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param projectId Project ID
     * @param status Only suggestions in this status (optional)
     * @param productExternalId Only suggestions for this store product id (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 50)
     * @return CatalogPromptSuggestionsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listCatalogPromptSuggestions(projectId: kotlin.Int, status: StatusListCatalogPromptSuggestions? = null, productExternalId: kotlin.String? = null, page: kotlin.Int? = 1, perPage: kotlin.Int? = 50) : CatalogPromptSuggestionsResponse {
        val localVarResponse = listCatalogPromptSuggestionsWithHttpInfo(projectId = projectId, status = status, productExternalId = productExternalId, page = page, perPage = perPage)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CatalogPromptSuggestionsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /catalog_prompt_suggestions
     * List catalog prompt suggestions
     * Lists the buyer prompts suggested from a store catalog, oldest first, with their status and the product each one came from. Team members need read access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param projectId Project ID
     * @param status Only suggestions in this status (optional)
     * @param productExternalId Only suggestions for this store product id (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 50)
     * @return ApiResponse<CatalogPromptSuggestionsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listCatalogPromptSuggestionsWithHttpInfo(projectId: kotlin.Int, status: StatusListCatalogPromptSuggestions?, productExternalId: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?) : ApiResponse<CatalogPromptSuggestionsResponse?> {
        val localVariableConfig = listCatalogPromptSuggestionsRequestConfig(projectId = projectId, status = status, productExternalId = productExternalId, page = page, perPage = perPage)

        return request<Unit, CatalogPromptSuggestionsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listCatalogPromptSuggestions
     *
     * @param projectId Project ID
     * @param status Only suggestions in this status (optional)
     * @param productExternalId Only suggestions for this store product id (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 50)
     * @return RequestConfig
     */
    fun listCatalogPromptSuggestionsRequestConfig(projectId: kotlin.Int, status: StatusListCatalogPromptSuggestions?, productExternalId: kotlin.String?, page: kotlin.Int?, perPage: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("project_id", listOf(projectId.toString()))
                if (status != null) {
                    put("status", listOf(status.value))
                }
                if (productExternalId != null) {
                    put("product_external_id", listOf(productExternalId.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/catalog_prompt_suggestions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /catalog_prompt_suggestions/reject
     * Reject catalog prompt suggestions
     * Marks pending suggestions as rejected; suggestions that are no longer pending stay as they are. Requires a &#x60;read_write&#x60; scope API key and, for team members, update access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param catalogPromptSuggestionIdsRequest 
     * @return CatalogPromptSuggestionsRejectResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun rejectCatalogPromptSuggestions(catalogPromptSuggestionIdsRequest: CatalogPromptSuggestionIdsRequest) : CatalogPromptSuggestionsRejectResponse {
        val localVarResponse = rejectCatalogPromptSuggestionsWithHttpInfo(catalogPromptSuggestionIdsRequest = catalogPromptSuggestionIdsRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CatalogPromptSuggestionsRejectResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /catalog_prompt_suggestions/reject
     * Reject catalog prompt suggestions
     * Marks pending suggestions as rejected; suggestions that are no longer pending stay as they are. Requires a &#x60;read_write&#x60; scope API key and, for team members, update access to Prompts. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param catalogPromptSuggestionIdsRequest 
     * @return ApiResponse<CatalogPromptSuggestionsRejectResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun rejectCatalogPromptSuggestionsWithHttpInfo(catalogPromptSuggestionIdsRequest: CatalogPromptSuggestionIdsRequest) : ApiResponse<CatalogPromptSuggestionsRejectResponse?> {
        val localVariableConfig = rejectCatalogPromptSuggestionsRequestConfig(catalogPromptSuggestionIdsRequest = catalogPromptSuggestionIdsRequest)

        return request<CatalogPromptSuggestionIdsRequest, CatalogPromptSuggestionsRejectResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation rejectCatalogPromptSuggestions
     *
     * @param catalogPromptSuggestionIdsRequest 
     * @return RequestConfig
     */
    fun rejectCatalogPromptSuggestionsRequestConfig(catalogPromptSuggestionIdsRequest: CatalogPromptSuggestionIdsRequest) : RequestConfig<CatalogPromptSuggestionIdsRequest> {
        val localVariableBody = catalogPromptSuggestionIdsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/catalog_prompt_suggestions/reject",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /ai_orders
     * Replace AI-referred store orders for a window
     * Replaces the daily AI-referred orders and revenue of the from..to window. Send the raw referring host or utm_source of each order&#39;s first visit as referrer: LLM Pulse classifies it and ignores anything that is not an AI assistant. Entries for the same day and assistant are summed. Every stored row of that project and platform inside the window is replaced, so pushing the same window again converges instead of counting twice. Rows are kept per project and platform, not per store, so one store reports per project. Requires a &#x60;read_write&#x60; scope API key and, for team members, update access to AI Traffic. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param aiOrdersUpdateRequest 
     * @return AiOrdersUpdateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun replaceAiOrders(aiOrdersUpdateRequest: AiOrdersUpdateRequest) : AiOrdersUpdateResponse {
        val localVarResponse = replaceAiOrdersWithHttpInfo(aiOrdersUpdateRequest = aiOrdersUpdateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AiOrdersUpdateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /ai_orders
     * Replace AI-referred store orders for a window
     * Replaces the daily AI-referred orders and revenue of the from..to window. Send the raw referring host or utm_source of each order&#39;s first visit as referrer: LLM Pulse classifies it and ignores anything that is not an AI assistant. Entries for the same day and assistant are summed. Every stored row of that project and platform inside the window is replaced, so pushing the same window again converges instead of counting twice. Rows are kept per project and platform, not per store, so one store reports per project. Requires a &#x60;read_write&#x60; scope API key and, for team members, update access to AI Traffic. Not available to accounts with a white-label portal or an embed (ERR_INTEGRATION_UNAVAILABLE).
     * @param aiOrdersUpdateRequest 
     * @return ApiResponse<AiOrdersUpdateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun replaceAiOrdersWithHttpInfo(aiOrdersUpdateRequest: AiOrdersUpdateRequest) : ApiResponse<AiOrdersUpdateResponse?> {
        val localVariableConfig = replaceAiOrdersRequestConfig(aiOrdersUpdateRequest = aiOrdersUpdateRequest)

        return request<AiOrdersUpdateRequest, AiOrdersUpdateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation replaceAiOrders
     *
     * @param aiOrdersUpdateRequest 
     * @return RequestConfig
     */
    fun replaceAiOrdersRequestConfig(aiOrdersUpdateRequest: AiOrdersUpdateRequest) : RequestConfig<AiOrdersUpdateRequest> {
        val localVariableBody = aiOrdersUpdateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/ai_orders",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
